body{
margin:0;
padding: 0;
background-color: whitesmoke;
}

.Edozziernavbutton{
    background-color:rgb(2, 2, 92);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px;
    
}

.Navbarbackground{
    background-color: whitesmoke;
    margin-bottom: 50px;

}


.Edozzierbutton{
   background-color:rgb(2, 2, 92);
   border: none;
   border-radius: 5px;
   color: white;
   padding: 10px;
   
}
.Edozzierbutton:hover{
   background-color: orange;
    
 }
.REQUESTbutton{
   background-color:white;
   border: none;
   border-radius: 5px;
   color:rgb(2, 2, 92);
   padding: 10px;
   

}
.REQUESTbutton:hover{
    background-color:skyblue;
}

.Technologysec:hover{
    background-color: #112257;
    color: white;

}
.EDOZZIERsection{
    margin-top: 150px;
}

.EDOZZIERtxt{
    background-color:#d0d8fc;
    width:fit-content;
    padding: 10px;
}

.SimpleSchooltxt{
    color:rgb(2, 2, 92) ;
}
.EdozzierRome{
    background-color: white;
    padding: 100px;
}


.RomeEdozzier{
    text-align: center;

}

.Learningsec{
    background-color: #112257;
    color: white;
}
.oursolutionsec{
    text-decoration: none;
}

.ourSolutionsec{
    padding: 70px;
   
}

.solutiontxt{
    color: #112257;
    font-size: 50px;
}
.OursolutionBack{
    background-color: #e5ebfb;
}

.Thesolution{
    margin-top: 80px;
    font-size: medium;
}





@media screen and (475px) {
    
    
}